header {
  text-align: center;
}

h2 {
  text-align: center;
}

table {
  width: 1200px;
}

.create-movie-button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
td.mat-cell, th.mat-header-cell {
  text-align: center;
}
