<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer mode="side" disableClose="true" class="sidenav-content-wrapper" opened>
    <div class="sidenav-content">
      <h2>Admin panel</h2>
      <div class="sidenav-item sidenav-active" [routerLink]="'/main'">
        <img src="https://iili.io/HEc7oCu.png" alt="overview">
        <button mat-button class="sidenav-button">Overview</button>
      </div>
      <div class="sidenav-item" [routerLink]="'/orders'">
        <img src="https://iili.io/HEc716J.png" alt="tickets">
        <button mat-button class="sidenav-button">Orders</button>
      </div>
      <div class="sidenav-item" [routerLink]="'/users'">
        <img src="https://iili.io/HEclGVt.png" alt="users">
        <button mat-button class="sidenav-button">Users</button>
      </div>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
