<header><h2>Orders</h2></header>
<table mat-table [dataSource]="moviesService.orders">
  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Order Id </th>
    <td mat-cell *matCellDef="let order"> {{this.order?.id}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Username </th>
    <td mat-cell *matCellDef="let order"> {{this.order?.userid}} </td>
  </ng-container>

  <ng-container matColumnDef="movie">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Movie </th>
    <td mat-cell *matCellDef="let order">{{this.order.movieid}}</td>
  </ng-container>

  <ng-container matColumnDef="ticket">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Ticket Id </th>
    <td mat-cell *matCellDef="let order">{{this.order.ticketid}}</td>
  </ng-container>

  <ng-container matColumnDef="totalPrice">
    <th mat-header-cell *matHeaderCellDef class="table-header"> Total Price </th>
    <td mat-cell *matCellDef="let order">{{this.order.totalprice}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
