form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

.create-movie-button {
  width: 31%;
}

.mat-form-field-wrapper {
  margin-right: 40px;
}

.mat-form-field {
  width: 35%;
}
.modal {
  &-wrapper {
    position: relative;
  }
  &-close-button {
    position: absolute;
    top: -38px;
    right: -20px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}
